.card {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

th {
    font-weight: bolder;
}

.card-header, .jumbotron {
    background-color: orange;
    color: white;
    font-weight: bold;
}

#submit-button {
    background-color: orange;
    border: 1px solid darkorange;
    float: right;
    /* color: gray; */
}

body {
    font-family: "HKGroteskRegular", Roboto, sans-serif;
}